<!-- <div class="bg-image"></div> -->
<div style="margin-top: 65px">
  <mat-carousel timings="250ms ease-in" [autoplay]="true" [interval]="5000" color="accent" maxWidth="auto"
    [proportion]="25" [slides]="5" [loop]="true" [hideArrows]="false" [hideIndicators]="false" [useKeyboard]="true"
    [useMouseWheel]="false" orientation="ltr">
    <mat-carousel-slide #matCarouselSlide *ngFor="let slide of slides; let i = index" [image]="slide.image"
      overlayColor="#00000040" [hideOverlay]="false"></mat-carousel-slide>
  </mat-carousel>
</div>
<app-best-seller></app-best-seller>

<div class="wrapper sticky">
  <nav class="navbar-fixed-top">
    <a href="#" class="logo" style="display:flex; align-items: center;">
      <mat-icon>
        local_cafe
      </mat-icon> <b><span style="font-size: 26px">Laka Cafe</span></b>
    </a>
    <ul>
      <li>
        <a style="cursor: pointer;" routerLink="page">Đặt hàng</a>
      </li>
      <li>`
        <a style="cursor: pointer;" (click)="loginAction()">Đăng nhập</a>
      </li>
      <li>
        <a style="cursor: pointer;" (click)="signupAction()">Đăng ký</a>
      </li>
      <li>
        <a style="cursor: pointer;" (click)="fotgotPasswordAction()">Quên mật khẩu</a>
      </li>
    </ul>
  </nav>
</div>

<div class="footer" id="signup">
  <h2 style="margin: 8px">All right reserved @Xuân Tình</h2>
</div>
