.header-flex{
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.logo-flex {
  display: flex;
  align-items: center;
}

app-header {
  display: flex;
  align-items: center;
}


.page-banner {
  background-image: url('./../../../assets/img/page-banner.jpg');
  height: 500px;
  opacity: 0.8;
  background-repeat: no-repeat;
  background-size: cover;
  background-position-y: 15%;
}
