.text-center {
  text-align: center;
}

.h-200 {
  height: 200px;
}

.h-360 {
  height: 360px;
}

.mb-1 {
  margin-bottom: 1px;
}

.mx-auto {
  margin: auto
}

.px-8 {
  padding: 8px;
}

.flex-col {
  flex-direction: column;
}

.w-full {
  width: 100%;
}

.truncate {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.whitespace-normal:hover {
  white-space: normal;
  text-overflow: clip;
}

.flex {
  display: flex;
}

.justify-between {
  justify-content: space-between;
}

.text-400 {
  font-weight: 400;
}

.text-stone-500 {
  color: rgb(120 113 108);
}

.text-gray-500 {
  color: rgb(107 114 128);
}

.text-red-500 {
  color: rgb(239 68 68);
}

.p10 {
  padding: 10px;
}

.mt-4 {
  margin-top: 4px;
}

.mb-4 {
  margin-bottom: 4px;
}
