<mat-card *ngIf="product" [ngClass]="{'text-center': !fullWidthMode}">
  <div [ngClass]="{flex: fullWidthMode}">
    <img class="mb-1 mx-auto h-200" [ngClass]="{'h-200': !fullWidthMode, 'h-360': fullWidthMode}"
      src="http://localhost:8080/uploads/{{ product.file_src }}" alt="Ảnh sản phẩm">
    <div class="w-full" [ngClass]="{'px-8 flex flex-col justify-between': fullWidthMode}">
      <div>
        <h5>{{ product.categoryName }}</h5>
        <p class="truncate whitespace-normal" matTooltip="{{ product.name }}">{{ product.name }}</p>
        <p *ngIf="fullWidthMode">{{ product.description }}</p>
      </div>
      <div class="flex justify-between">
        <span class="text-red-500">
          {{ product.price | number }} đồng
        </span>
        <button (click)="onAddToCart()">
          <mat-icon class="text-gray-500" matTooltip="Thêm sản phẩm vào giỏ hàng">shopping_cart</mat-icon>
        </button>
      </div>
    </div>
  </div>
</mat-card>
