<mat-card class="category-header">
  <b><span>Quản lý danh mục</span></b>
  <button mat-flat-button color="primary" class="float-right" (click)="handleAddAction()">Thêm danh mục</button>
</mat-card>
<hr>
<mat-card>
  <mat-form-field class="example-full-width">
    <span matPrefix> </span>
    <input type="tel" matInput placeholder="Tìm kiếm danh mục" name="search" [(ngModel)]="valueSearch">
    <button matSuffix mat-button (click)="searchNameCategory()"><mat-icon>search</mat-icon></button>
  </mat-form-field>
  <br />
</mat-card>
<hr>
<div class="responsive_table">
  <table mat-table [dataSource]="dataSource" class="mat-elevation-z8" matSort>

    <ng-container matColumnDef="name">
      <th class="header-custom" mat-header-cell *matHeaderCellDef mat-sort-header> Tên danh mục </th>
      <td mat-cell *matCellDef="let element"> {{element.name}} </td>
    </ng-container>

    <ng-container matColumnDef="edit">
      <th mat-header-cell *matHeaderCellDef>Thao tác</th>
      <td mat-cell *matCellDef="let element" class="action-link">
        <button mat-icon-button color="primary" matTooltip="Cập nhật tên danh mục" (click)="handleEditAction(element)">
          <mat-icon>edit</mat-icon>
        </button>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    <tr style="height: 224px" class="mat-row" *matNoDataRow>
      <td class="mat-cell" colspan="2">Không có dữ liệu {{ valueSearch }}
        <br>
        <mat-icon style="height: 72px; width: 72px; font-size: 72px">report_off</mat-icon>
      </td>
    </tr>
  </table>
  <mat-paginator appStylePaginator (page)="pageChangeEvent($event)" [length]="length" [pageSize]="pageSize"
    [pageIndex]="pageIndex" showFirstLastButtons [pageSizeOptions]="pageSizeOptions">
  </mat-paginator>

</div>
