<!-- Header Modal Popup -->
<mat-toolbar color="primary">
  <mat-toolbar-row fxLayout="row">
    <span class="title-center">Quên mật khẩu</span>
  </mat-toolbar-row>
</mat-toolbar>
<!-- End Header Modal Popup -->

<!-- <div fxFlex fxLayout="column">
  <span>Vui lòng nhập email để lấy lại mật khẩu của bạn.</span>
</div> -->

<!-- Content Modal Popup -->
<mat-dialog-content class="mat-typography">
  <div class="mat-typography sub-text">Vui lòng nhập Email để nhận lại mật khẩu của bạn.</div>
  <form action="" [formGroup]="forgotPasswordForm">
    <div fxFlex fxLayout="column">
      <mat-form-field appearance="fill" fxFlex="80px">
        <mat-label>Email</mat-label>
        <input matInput formControlName="email" required/>
        <mat-icon matSuffix>mail</mat-icon>
        <mat-error *ngIf="forgotPasswordForm.controls.email.touched && forgotPasswordForm.controls.email.invalid">
          <span *ngIf="forgotPasswordForm.controls.email.errors.required">Email không được để trống</span>
          <span *ngIf="forgotPasswordForm.controls.email.errors.pattern">Email không hợp lệ</span>
        </mat-error>
      </mat-form-field>
    </div>
  </form>
</mat-dialog-content>
<!-- End Content Modal Popup -->

<!-- Footer Modal Popup -->
<mat-dialog-actions align="end">
  <button mat-raised-button style="background-color: #333; color: white;" mat-dialog-close>Đóng</button>
  <button mat-raised-button color="primary" type="submit" (click)="handleSubmit()" [disabled]="!(forgotPasswordForm.valid && forgotPasswordForm.dirty)">Gửi mật khẩu</button>
</mat-dialog-actions>
<!-- End Footer Modal Popup -->
