.mat-toolbar {
  margin: -24px;
  width: auto;
  margin-bottom: 10px;
}

.title-center {
  flex: 1 1 auto;
  text-align: center;
}

mat-form-filed {
  padding: 5px;
}

.sub-text {
  margin: 8px 0 16px;
  font-size: 16px
}
