.mb-4 {
  margin-bottom: 4px;
}

.flex {
  display: flex;
}

.justify-between {
  justify-content: space-between;
}

.items-center {
  align-items: center;
}

button {
  border: none;
  margin: 0 2px;
  cursor: pointer;
}
