<!-- Header Modal Popup -->
<mat-toolbar color="primary">
  <mat-toolbar-row fxLayout="row">
    <span class="title-center">Đổi mật khẩu</span>
  </mat-toolbar-row>
</mat-toolbar>
<!-- End Header Modal Popup -->

<!-- Content Modal Popup -->
<mat-dialog-content class="mat-typography">
  <form action="" [formGroup]="changePasswordForm">
    <div fxFlex fxLayout="column">
      <mat-form-field appearance="fill">
        <mat-label>Mật khẩu cũ</mat-label>
        <input matInput [type]="hideOldPassword ? 'password' : 'text'" formControlName="oldPassword">
        <button mat-icon-button matSuffix (click)="hideOldPassword = !hideOldPassword" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hideOldPassword">
          <mat-icon>{{hideOldPassword ? 'visibility_off' : 'visibility'}}</mat-icon>
        </button>
        <mat-error *ngIf="changePasswordForm.controls.oldPassword.touched && changePasswordForm.controls.oldPassword.invalid">
          <span *ngIf="changePasswordForm.controls.oldPassword.errors.required">Mật khẩu cũ không được để trống</span>
          <span *ngIf="changePasswordForm.controls.oldPassword.errors.pattern">Mật khẩu cũ không hợp lệ</span>
        </mat-error>
      </mat-form-field>

      <mat-form-field appearance="fill">
        <mat-label>Mật khẩu mới</mat-label>
        <input matInput [type]="hideNewPassword ? 'password' : 'text'" formControlName="newPassword">
        <button mat-icon-button matSuffix (click)="hideNewPassword = !hideNewPassword" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hideNewPassword">
          <mat-icon>{{hideNewPassword ? 'visibility_off' : 'visibility'}}</mat-icon>
        </button>
        <mat-error *ngIf="changePasswordForm.controls.newPassword.touched && changePasswordForm.controls.newPassword.invalid">
          <span *ngIf="changePasswordForm.controls.newPassword.errors.required">Mật khẩu mới không được để trống</span>
          <span *ngIf="changePasswordForm.controls.newPassword.errors.pattern">Mật khẩu mới không hợp lệ</span>
        </mat-error>
      </mat-form-field>

      <mat-form-field appearance="fill">
        <mat-label>Xác nhận mật khẩu</mat-label>
        <input matInput [type]="hideConfirmPassword ? 'password' : 'text'" formControlName="confirmPassword">
        <button mat-icon-button matSuffix (click)="hideConfirmPassword = !hideConfirmPassword" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hideConfirmPassword">
          <mat-icon>{{hideConfirmPassword ? 'visibility_off' : 'visibility'}}</mat-icon>
        </button>
        <mat-error *ngIf="changePasswordForm.controls.confirmPassword.touched && changePasswordForm.controls.confirmPassword.invalid">
          <span *ngIf="changePasswordForm.controls.confirmPassword.errors.required">Xác nhận mật khẩu không được để trống</span>
        </mat-error>
        <mat-hint *ngIf="validateSubmit() && !(changePasswordForm.controls.confirmPassword.invalid)">
          <span>Xác nhận mật khẩu mới không chính xác</span>
        </mat-hint>
      </mat-form-field>
    </div>
  </form>
</mat-dialog-content>
<!-- End Content Modal Popup -->

<!-- Footer Modal Popup -->
<mat-dialog-actions align="end">
  <button mat-raised-button style="background-color: #333; color: white;" mat-dialog-close>Đóng</button>
  <button mat-raised-button color="primary" type="submit" (click)="handleChangePassword()" [disabled]="validateSubmit() || !(changePasswordForm.valid && changePasswordForm.dirty)">Xác nhận</button>
</mat-dialog-actions>
<!-- End Footer Modal Popup -->



