<div style=" display: flex; align-items: center; flex-direction: column;">
  <mat-card style="width: 100%">
    <h2 style="margin: 0">Tin nhắn trực tuyến</h2>
  </mat-card>
  <mat-card style="width: 100%; height: 400px;">
    <div class="messages">
      <div *ngFor="let user of messages">
        {{user.name}}: {{user.message}}
      </div>
    </div>
  </mat-card>
  <mat-card style="width: 100%;">
    <form [formGroup]="messageForm" class="input-div" (submit)="submitMessage()">
      <input style="width: 100%" mat-input type="text" placeholder="Nhập tin nhắn" formControlName="message" />
      <button type="submit" mat-raised-button color="primary">Gửi</button>
    </form>
  </mat-card>
  <button *ngIf="!checkRole" mat-raised-button style="background-color: #333; color: white; margin-top: 24px;" mat-dialog-close>Đóng</button>
</div>
