<mat-toolbar color="primary">
  <mat-toolbar-row fxLayout="row">
    <span class="title-center">Sửa sản phẩm</span>
  </mat-toolbar-row>
</mat-toolbar>

<mat-dialog-content class="mat-typography">
  <form [formGroup]="productForm">
    <div fxFlex fxLayout="column">
      <mat-form-field appearance="fill" fxFlex="80px">
        <mat-label>Tên sản phẩm</mat-label>
        <input matInput formControlName="name" required>
        <mat-error *ngIf="productForm.controls.name.touched && productForm.controls.name.invalid">
          <span *ngIf="productForm.controls.name.errors.required">Tên sản phẩm không được bỏ trống</span>
        </mat-error>
      </mat-form-field>

      <div fxLayout="row wrap" class="margin-l" fxFlex="80px">
        <mat-form-field appearance="fill" fxFlex>
          <mat-label>Giá sản phẩm</mat-label>
          <input type="number" matInput formControlName="price" required>
          <mat-error *ngIf="productForm.controls.price.touched && productForm.controls.price.invalid">
            <span *ngIf="productForm.controls.price.errors.required">Giá sản phẩm không được bỏ trống</span>
          </mat-error>
        </mat-form-field>
        <mat-form-field appearance="fill" fxFlex>
          <mat-label>Danh mục sản phẩm</mat-label>
          <mat-select formControlName="categoryId">
            <mat-option *ngFor="let category of categories" [value]="category.id">
              {{ category.name }}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>

      <mat-form-field appearance="fill" fxFlex="80px">
        <mat-label>Mô tả sản phẩm</mat-label>
        <input matInput formControlName="description" required>
        <mat-error *ngIf="productForm.controls.description.touched && productForm.controls.description.invalid">
          <span *ngIf="productForm.controls.description.errors.required">Tên sản phẩm không được bỏ trống</span>
        </mat-error>
      </mat-form-field>

      <!-- <button style="margin-bottom: 4px" type="button" mat-raised-button (click)="fileInput.click()">Choose File</button>
      <input hidden (change)="uploadFile($event)" #fileInput type="file" id="image" >
      <mat-label style="margin-bottom:24px">{{ nameFile }}</mat-label> -->
      <input (change)="uploadFile($event)" #fileInput type="file" id="image" accept=".jpeg, .png, .jpg">
      <mat-label style="margin-bottom:24px">{{ nameFile }}</mat-label>
    </div>
  </form>
</mat-dialog-content>

<mat-dialog-actions align="end">
  <button mat-raised-button style="background-color: #333; color: white;" mat-dialog-close>Đóng</button>
  <button mat-raised-button color="primary" type="submit" (click)="handleSubmit()"
    [disabled]="!(productForm.valid && productForm.dirty)">
    Cập nhật sản phẩm
  </button>
</mat-dialog-actions>
