<div class="bg-footer">

  <mat-card class="max-w-7xl mx-auto" style="background-color: #6d4c41; color: #fff; opacity: 0.7;">
    <div class="flex justify-evenly">
      <div>
        <h2>THÔNG TIN LIÊN HỆ</h2>
        <p>Phố hàng Tre, Hoàn Kiếm, Hà Nội</p>
        <p>Phố Hoàng Cầu, Đống Đa, Hà Nội</p>
        <p>Điện thoại: <a href="tel: +0856529972">0856529972</a></p>
        <p>Email: <a href="mailto: xuantinh.fe.dev@gmail.com">xuantinh.fe.dev@gmail.com</a></p>
      </div>
      <div>
        <h2>CHĂM SÓC KHÁCH HÀNG</h2>
        <p>Cà phê tại quán: <a href="tel:+0856529972">0856529972</a></p>
        <p>Cà phê đóng gói: <a href="tel:+0856529972">0856529972</a></p>
        <p>LAKA cà phê cam kết cung cấp
          <br />sản phẩm chất lượng nhất,
          <br />đảm bảo an toàn thực phẩm.
        </p>
      </div>
    </div>
  </mat-card>

  <mat-card class="max-w-7xl mx-auto">
    <div class="flex" style="justify-content: center;">
      © Bản quyền thuộc về Xuân Tình | Cung cấp LAKA cà phê
    </div>
  </mat-card>

</div>
