
.mx-auto {
  margin: auto;
}

.max-w-7xl {
  max-width: 80rem;
}


.flex {
  display: flex;
}

.justify-evenly {
  justify-content: space-evenly;
}

.bg-footer {
  background-color: #6d4c41;
  background-image: url('./../../../assets/img/page-banner-1.jpg');
  background-size: cover;
}
