<mat-card class="category-header">
  <div class="category-header__title">
    <b>
      <h2 style="margin: 0">Thùng rác</h2>
    </b>
    <mat-icon color="primary">delete_forever</mat-icon>
  </div>
  <div style="display: flex">
    <button mat-flat-button color="primary" class="float-right" (click)="handleRestoreAllAction()">Lấy lại toàn bộ dữ liệu
      <mat-icon>history</mat-icon></button>
    &nbsp; &nbsp; &nbsp;
    <button mat-flat-button color="primary" (click)="handleDestroyAllAction()">Xóa toàn bộ dữ liệu<mat-icon>clear</mat-icon></button>
  </div>
</mat-card>
<hr>
<mat-card>
  <mat-form-field class="example-full-width">
    <span matPrefix> </span>
    <input type="tel" matInput placeholder="Tìm kiếm danh mục" name="search" [(ngModel)]="valueSearch">
    <button matSuffix mat-button (click)="searchNameCategory()"><mat-icon>search</mat-icon></button>
  </mat-form-field>
  <br />
</mat-card>
<hr>
<div class="responsive_table">
  <table mat-table [dataSource]="dataSource" class="mat-elevation-z8" matSort>

    <!-- Index Column -->
    <ng-container matColumnDef="index">
      <th class="table-br-w100" mat-header-cell *matHeaderCellDef> STT </th>
      <td class="table-br-w100" mat-cell *matCellDef="let index = index"> {{index + 1}} </td>
    </ng-container>

    <ng-container matColumnDef="name">
      <th class="header-custom table-br" mat-header-cell *matHeaderCellDef mat-sort-header> Tên danh mục </th>
      <td class="table-br" mat-cell *matCellDef="let element"> {{element.name}} </td>
    </ng-container>

    <ng-container matColumnDef="edit">
      <th class="table-w150" mat-header-cell *matHeaderCellDef>Thao tác</th>
      <td class="table-w150" mat-cell *matCellDef="let element" class="action-link">
        <button mat-icon-button color="primary" matTooltip="Lấy lại dữ liệu" (click)="handleBackUpAction(element)">
          <mat-icon>undo</mat-icon>
        </button>
        <button mat-icon-button color="primary" matTooltip="Xóa hoàn toàn danh mục" (click)="handleDestroyAction(element)">
          <mat-icon>delete_sweep</mat-icon>
        </button>
      </td>
    </ng-container>
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    <tr style="height: 224px" class="mat-row" *matNoDataRow>
      <td class="mat-cell" colspan="3">Không có dữ liệu {{ valueSearch }}
        <br>
        <mat-icon style="height: 72px; width: 72px; font-size: 72px">report_off</mat-icon>
      </td>
    </tr>
  </table>

  <mat-paginator appStylePaginator (page)="pageChangeEvent($event)" [length]="length" [pageSize]="pageSize"
    [pageIndex]="pageIndex" showFirstLastButtons [pageSizeOptions]="pageSizeOptions">
  </mat-paginator>
  <button mat-flat-button color="primary" (click)="returnCategory()">Trở về	<mat-icon>keyboard_return</mat-icon></button>
</div>
