<div style="margin-top: 80px">
  <div>
    <mat-card class="max-w-7xl mx-auto" style="margin-bottom: 24px">
      <div style="display: flex; align-items: center;">
        <h3 style="margin: 0; color: #aaa"><a href="">Trang chủ</a></h3>&nbsp;/&nbsp;<h4 style="margin: 0">Về chúng tôi
        </h4>
      </div>
    </mat-card>
    <mat-card class="max-w-7xl mx-auto">
      <div style="margin: 48px 0; display: flex;  justify-content: space-between;">
        <div>
          <p style="padding: 100px 24px 0 0;">
            Thương hiệu bắt nguồn từ cà phê Việt Nam, LakaCoffee® được sinh ra từ niềm đam mê bất tận với hạt cà phê
            Việt
            Nam. Qua một chặng đường dài, chúng tôi đã không ngừng mang đến những sản phẩm cà phê thơm ngon, sánh đượm
            trong
            không gian thoải mái và lịch sự với mức giá hợp lý. Những ly cà phê của chúng tôi không chỉ đơn thuần là
            thức
            uống quen thuộc mà còn mang trên mình một sứ mệnh văn hóa phản ánh một phần nếp sống hiện đại của người Việt
            Nam.
          </p>
          <p>Địa chỉ 1: Phố hàng Tre, Hoàn Kiếm, Hà Nội</p>
          <p>Địa chỉ 2: Phố Hoàng Cầu, Đống Đa, Hà Nội</p>
          <p>Liên hệ trực tiếp với chúng tôi <button mat-raised-button color="primary" (click)="liveChat()">tại
              đây</button></p>
          <p>Để lại lời nhắn cho chúng tôi <button mat-raised-button color="primary" (click)="onClick()">tại
              đây</button></p>
        </div>
        <img style="width: 40%" src="./../../../assets/img/khoi-nguon1615166278.png" alt="">
      </div>
    </mat-card>
  </div>
</div>
