<!-- <div class="wrapper"> -->
  <div class="wrapper sticky">
  <nav class="navbar-fixed-top">
    <a href="#" class="logo" style="display:flex; align-items: center;">
      <mat-icon>
        local_cafe
      </mat-icon>
      <b><span style="font-size: 26px">Laka Cafe</span></b>
    </a>
    <ul style="align-items: center;">
      <li>
        <a style="cursor: pointer" [routerLink]="['/']">
          Trang chủ
        </a>
      </li>
      <li>
        <a style="cursor: pointer" routerLink="/page/home">
          Sản phẩm
        </a>
      </li>
      <li>
        <a style="cursor: pointer">
          Về chúng tôi
        </a>
      </li>
      <li>
        <a style="cursor: pointer" routerLink="/page/cart">
          Giỏ hàng
        </a>
      </li>
      <li>
        <a style="cursor: pointer;">
          <button mat-icon-button [matMenuTriggerFor]="menu">
            <mat-icon [matBadge]="itemsQuantity" [matBadgeHidden]="!itemsQuantity" matBadgeColor="accent">
              shopping_cart
            </mat-icon>
          </button>
          <mat-menu #menu="matMenu">
            <div style="padding: 14px">
              <div style="padding-bottom: 3px; display: flex; justify-content: space-between;">
                <span style="margin-right: 16px">{{ itemsQuantity }} sản phẩm </span>
                <a style="color: black" routerLink="cart">Xem giỏ hàng</a>
              </div>
              <hr />
              <div *ngIf="cart.items.length" style="padding: 14px 0">
                <div *ngFor="let item of cart.items"
                  style="display: flex; justify-content: space-between; margin-bottom: 8px; align-items: center;">
                  <span style="margin-right: 16px"><img src="http://localhost:8080/uploads/{{ item.product }}"
                      alt="Ảnh sản phẩm" style="max-width: 50px"></span>
                  <span style="margin-right: 16px">{{ item.name }} x {{ item.quantity }}</span>
                  <span style="font-weight: 700; text-align: right;">{{ item.price | number }} đồng</span>
                </div>
              </div>
              <hr />
              <div
                style="display: flex; justify-content: space-between; margin-bottom: 10px ; margin-top: 10px; align-items: center;">
                Total:
                <span style="font-weight: 700">{{ getTotal(cart.items) | number }} đồng</span>
              </div>
              <hr />
              <div style="display: flex; justify-content: space-between; padding-top: 22px;">
                <button (click)="onClearCart()" mat-mini-fab color="warn">
                  <mat-icon>remove_shopping_cart</mat-icon>
                </button>
                <button mat-mini-fab color="primary" style="background-color: #65cc00;" (click)="onRouteCart()">
                  <mat-icon>shopping_cart</mat-icon>
                </button>
              </div>
            </div>
          </mat-menu>
        </a>
      </li>
    </ul>
  </nav>
</div>
